<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
            <exclude>tests/Unit/DevTools</exclude>
            <exclude>tests/Registry/TierCompositionLanguageRegistryTest.php</exclude>
            <exclude>tests/Registry/CompositionLanguageRegistryAuditorTest.php</exclude>
        </testsuite>
        <testsuite name="monorepo">
            <directory>tests/Unit/DevTools</directory>
            <file>tests/Registry/TierCompositionLanguageRegistryTest.php</file>
            <file>tests/Registry/CompositionLanguageRegistryAuditorTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
